# Adds the pseudo codes known as 6502EX to the basic 6502 instruction set

scopeName: 'source.6502ex-opcodes'

patterns: [
  # The 6502 pseudo opcodes known as 6502EX
  {
    include: '#mnemonics-6502ex'
  }
]

# Respository starts here -----------------------------------------------------
repository:

  # 6502 pseudo op codes
  'mnemonics-6502ex':
    patterns: [
      # mnemonics
      {
        match:  '\\b(?i:ALR|ANC|ARR|AXS|DCP|ISC|LAS|LAX|RLA|RRA|SAX|SLO|SRE)\\b'
        name:   'keyword.mnemonic.6502.6502ex-opcodes'
      }
    ]
