# Pseudo opcodes for the 65816 used by some assemblers

scopeName: 'source.65816alt-opcodes'

patterns: [
  # The 65816 instruction set
  {
    include: '#mnemonics-65816alt'
  }
]

# Respository starts here -----------------------------------------------------
repository:

  # 65816 instruction set
  'mnemonics-65816alt':
    patterns: [
      # mnemonics
      {
        match:  '\\b(?i:tas|tsa|swa|tad|tda|blt|bge)\\b'
        name:   'keyword.mnemonic.65816.65816alt-opcodes'
      }
    ]
