'fileTypes': []
'name': 'NinjaForce Assembler'
'patterns': [
  {
    'include': '#M6502'
  }
  {
    'include': '#M65C02'
  }
  {
    'include': '#M65816'
  }
  {
    'include': '#M65816L'
  }
  {
    'include': '#binary_number'
  }
  {
    'include': '#decimal_number'
  }
  {
    'include': '#hex_number'
  }
  {
    'match': '\\b(?i:BLT|BGE)\\b'
    'name': 'keyword.mnemonic.65816.alt'
  }
  {
    'match': '^[A-Za-z][A-Za-z0-9_]*'
    'name': 'entity.name.function'
  }
  {
    'match': '^\\][A-Za-z][A-Za-z0-9_]*'
    'name': 'entity.name.local'
  }
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double'
  }
  {
    'begin': '\''
    'end': '\''
    'name': 'string.quoted.single'
  }
  {
    'begin': '\\b(?i:MAC)\\b'
    'comment': 'enable &# macro parameters w/in a MAC ... ^^^ definition.'
    'end': '\\^\\^\\^'
    'name': 'support.macro'
    'patterns': [
      {
        'include': '$self'
      }
      {
        'match': '&\\d+'
        'name': 'variable.parameter'
      }
    ]
  }
  {
    'begin': '\\b((?i)HEX)\\b'
    'captures':
      '1':
        'name': 'keyword.directive'
    'comment': 'HEX has a list of hex bytes w/o the $'
    'end': '$|;'
    'name': 'meta.hex'
    'patterns': [
      {
        'match': '\\b[0-9A-Fa-f]{1,2}\\b'
        'name': 'constant.numeric.hex'
      }
      {
        'include': '$self'
      }
    ]
  }
  {
    'match': '(?<=,)([xXyYsS])\\b'
    'name': 'variable.language.register'
  }
  {
    'match': '\\b(?i:ORG|EQU|DLW|DW|DFB|HEX|DS|MSB|COD|ASC|STR|TYP|IMP|INS|LNK|SHT|LNG|M08|M16|X08|X16|MAC|\\^\\^\\^|LOP|<<<|LST)\\b'
    'name': 'keyword.directive'
  }
  {
    'match': '^[;*].*'
    'name': 'comment.line'
  }
  {
    'match': ';.*'
    'name': 'comment.line'
  }
  {
    'match': '[-+/*^><|#\\[\\](),=]'
    'name': 'keyword.operator'
  }
]
'repository':
  'M6502':
    'match': '\\b(?i:ADC|AND|ASL|BCC|BCS|BEQ|BIT|BMI|BNE|BPL|BRK|BVC|BVS|CLC|CLD|CLI|CLV|CMP|CPX|CPY|DEC|DEX|DEY|EOR|INC|INX|INY|JMP|JSR|LDA|LDX|LDY|LSR|NOP|ORA|PHA|PHP|PLA|PLP|ROL|ROR|RTI|RTS|SBC|SEC|SED|SEI|STA|STX|STY|TAX|TAY|TSX|TXA|TXS|TYA)\\b'
    'name': 'keyword.mnemonic.6502'
  'M65816':
    'match': '\\b(?i:BRL|COP|JML|JSL|MVN|MVP|PEA|PEI|PER|PHB|PHD|PHK|PLB|PLD|REP|RTL|SEP|TCD|TCS|TDC|TSC|TXY|TYX|WDM|XBA|XCE)\\b'
    'name': 'keyword.mnemonic.65816'
  'M65816L':
    'match': '\\b(?i:ADCL|ANDL|CMPL|EORL|LDAL|ORAL|SBCL|STAL)\\b'
    'name': 'keyword.mnemonic.65816.long'
  'M65C02':
    'match': '\\b(?i:BRA|PHX|PHY|PLX|PLY|STP|STZ|TRB|TSB|WAI)\\b'
    'name': 'keyword.mnemonic.65c02'
  'binary_number':
    'match': '%[01]+'
    'name': 'constant.numeric.binary'
  'decimal_number':
    'match': '\\b([0-9]+)\\b'
    'name': 'constant.numeric.decimal'
  'hex_number':
    'match': '\\$[A-Fa-f0-9]+'
    'name': 'constant.numeric.hex'
  'octal_number':
    'match': '@([0-7]+)\\b'
    'name': 'constant.numeric.octal'
'scopeName': 'source.assembly.65816.ninjaforce'
