# Syntax Highlighting for the Western Design Center toolchain and 65816 support

scopeName: 'source.wdc816-toolchain'
name: '65816 Assembly (WDCTools)'      # Name shown in Atom Editor grammar selection
# File extensions associated with this grammar
fileTypes: [
  's'
]
# include all opcodes and directives the toolchain supports
patterns: [
  { include:  'source.65816-opcodes' }   # the 65c02 opcodes, includes the basic 65c02 instruction set
  { include:  'source.65816-aliases' }   # Opcode aliases for the 65816
  { include:  'source.wdc-directives' }  # include the directives of the WDCxAS assemblers
]
